<template>
    <div>
        <div class="list__container">
            <div class="issue controls">
                <el-switch
                    v-model="showOpen"
                    active-text="Открытые задачи"
                    inactive-text="Закрытые задачи"
                >
                </el-switch>
            </div>

            <div v-if="shownIssues.length > 0">
                <div class="issue" v-for="issue of shownIssues" :key="issue.id">
                    <div>
                        <router-link
                            :to="{
                                name: 'issue',
                                params: getIssueLinkParams(issue)
                            }"
                            v-slot="{ navigate }"
                        >
                            <el-link @click="navigate">
                                <h3 class="title">{{ issue.title }}</h3>
                            </el-link>
                        </router-link>
                        <section class="issue__labels">
                            <span
                                v-for="label of issue.labels"
                                class="label__badge"
                                :style="{
                                    'background-color': label.color,
                                    'border-color': label.color,
                                    color: getForegroundColor(label.color)
                                }"
                                :key="label.id"
                            >
                                {{ label.title }}
                            </span>
                        </section>
                        <section class="metadata">
                            <p class="metadata__creation">
                                #{{ issue.id }} создана
                                {{ getCreationDate(issue) }} пользователем
                                {{ issue.author.username }}
                            </p>
                            <div>
                                <router-link
                                    v-if="issue.milestone"
                                    :to="{
                                        name: 'milestone',
                                        params: {
                                            milestoneId: issue.milestone_id,
                                            ...getIssueLinkParams(issue)
                                        }
                                    }"
                                    v-slot="{ navigate }"
                                >
                                    <el-link
                                        class="metadata__milestone"
                                        @click="navigate"
                                    >
                                        <i class="el-icon-reading"></i>
                                        {{ issue.milestone.title }}
                                    </el-link>
                                </router-link>
                            </div>
                        </section>
                    </div>
                    <el-row type="flex" align="middle" justify="center">
                        <el-tooltip
                            v-if="issue.assignee_id"
                            :content="getAssignmentMsg(issue)"
                        >
                            <el-avatar size="medium">
                                {{ issue.assignee.username[0] }}
                            </el-avatar>
                        </el-tooltip>
                    </el-row>
                    <el-row
                        v-if="issue.num_comments > 0"
                        class="comment-count"
                        align="middle"
                        type="flex"
                        justify="center"
                    >
                        <i class="el-icon-chat-round"></i>
                        <span>{{ issue.num_comments }}</span>
                    </el-row>
                </div>
            </div>
            <div v-else class="list__empty borderless-empty">
                <h2 class="text">Список задач пуст</h2>
            </div>
        </div>
    </div>
</template>

<script>
import { getDistanceToNow } from "../../date-utils";

export default {
    name: "IssueList",
    data() {
        return {
            showOpen: true
        };
    },
    props: {
        issues: {
            type: Array
        }
    },
    methods: {
        getCreationDate: function(issue) {
            return getDistanceToNow(issue.created_at);
        },
        getAssignmentMsg: function(issue) {
            return `Назначена на ${issue.assignee.username}`;
        },
        getForegroundColor: function(backgroundColor) {
            const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(
                backgroundColor
            );
            if (!result) {
                return "#000000"; //Happens when not given hex
            }
            const shade =
                (parseInt(result[1], 16) +
                    parseInt(result[2], 16) +
                    parseInt(result[3], 16)) /
                3;
            return shade > 128 ? "#000000" : "#FFFFFF";
        },
        getIssueLinkParams(issue) {
            const params = { issueId: issue.id };
            if (issue.repository) {
                params.username = issue.repository.owner.username;
                params.repo_name = issue.repository.name;
            }
            return params;
        }
    },
    computed: {
        shownIssues() {
            return (
                this.issues?.filter(
                    issue => issue.is_closed !== this.showOpen
                ) ?? []
            );
        }
    }
};
</script>

<style scoped lang="scss">
.container {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.issue {
    align-items: center;
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    column-gap: 8px;
    padding: 16px;

    &:last-of-type {
        border-bottom: none;
    }

    .title {
        margin: 0;
    }

    .metadata {
        color: #555;
        column-gap: 16px;
        display: grid;
        grid-template-columns: min-content 1fr;
        font-size: 12px;

        .metadata__creation {
            margin: 0;
            white-space: nowrap;
        }

        .metadata__milestone {
            font-size: 12px;
        }
    }

    .comment-count i {
        font-size: 18px;
        margin-right: 4px;
    }
}

.issue__labels {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0;

    .label__badge + .label__badge {
        margin-left: 4px;
    }
}

.borderless-empty {
    border: none;
}
</style>
