<template>
    <div>
        <h2>Репозитории</h2>

        <div v-if="repositories.length > 0">
            <section
                v-for="repo of repositories"
                class="repository"
                :key="repo.id"
            >
                <div class="repository-info">
                    <router-link
                        :to="{
                            name: 'repo_issues',
                            params: {
                                username: repo.owner.username,
                                repo_name: repo.name
                            }
                        }"
                        v-slot="{ navigate }"
                    >
                        <el-link
                            type="primary"
                            :underline="false"
                            @click="navigate"
                        >
                            <h3 class="repository__title">
                                {{ repo.owner.username }}/{{ repo.name }}
                            </h3>
                        </el-link>
                    </router-link>
                    <el-tag
                        v-if="repo.is_private"
                        class="private-badge"
                        size="mini"
                    >
                        Приватный
                    </el-tag>
                </div>
                <p v-if="repo.description.length > 0" class="description">
                    {{ repo.description }}
                </p>
                <span class="repository__updated">
                    Обновлено {{ getUpdatedDate(repo) }}
                </span>
            </section>
        </div>
        <div v-else>
            Список репозиториев пуст
        </div>
    </div>
</template>

<script>
import { getDistanceToNow } from "../../date-utils";

export default {
    name: "RepositoryList",
    props: {
        repositories: {
            type: Array,
            required: true,
            default: () => []
        }
    },
    methods: {
        getUpdatedDate: function(repo) {
            return getDistanceToNow(repo.updated_at);
        }
    }
};
</script>

<style lang="scss" scoped>
.repository {
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding: 16px;
    row-gap: 8px;

    & + .repository {
        margin-top: 16px;
    }

    .repository__title {
        margin: 0;
    }

    .repository__updated {
        color: #555555;
        display: block;
        font-size: 12px;
    }
}

.description {
    margin: 0;
}

.repository-info {
    align-items: center;
    column-gap: 8px;
    display: grid;
    grid-template-columns: min-content min-content;
}
</style>
