<template>
    <el-container class="container">
        <el-main>
            <el-row justify="center" type="flex">
                <el-col :span="6">
                    <div class="form-container">
                        <h2 class="form-container__title">{{ title }}</h2>
                        <slot></slot>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</template>

<script>
export default {
    name: "FormContainer",
    props: {
        title: String
    }
};
</script>

<style lang="scss" scoped>
.container {
    background-color: #409eff;
    height: 100vh;
    width: 100vw;
}

.form-container {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 32px;

    .form-container__title {
        font-weight: 400;
    }
}
</style>
