<template>
    <el-row align="middle" class="menu-row" justify="space-between" type="flex">
        <div class="left-menu">
            <router-link to="/" v-slot="{ navigate }">
                <el-link @click="navigate">GitViewer</el-link>
            </router-link>
            <router-link :to="{ name: 'issue_search' }" v-slot="{ navigate }">
                <el-link @click="navigate">Глобальный поиск</el-link>
            </router-link>
        </div>

        <el-row :gutter="8" align="middle" type="flex">
            <el-col>
                <el-tooltip content="Новый репозиторий">
                    <router-link
                        :to="{ name: 'new_repository' }"
                        v-slot="{ navigate }"
                    >
                        <el-button
                            circle
                            icon="el-icon-plus"
                            @click="navigate"
                        ></el-button>
                    </router-link>
                </el-tooltip>
            </el-col>

            <el-col>
                <el-dropdown trigger="click">
                    <el-tooltip :content="username">
                        <el-avatar>{{ userFirstLetter }}</el-avatar>
                    </el-tooltip>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            <router-link
                                :to="{
                                    name: 'user_page',
                                    params: { username }
                                }"
                                v-slot="{ navigate }"
                            >
                                <el-link :underline="false" @click="navigate">
                                    Профиль
                                </el-link>
                            </router-link>
                        </el-dropdown-item>
                        <el-dropdown-item>
                            <el-link
                                type="danger"
                                :underline="false"
                                @click="onLogoutClick"
                            >
                                Выйти из системы
                            </el-link>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
        </el-row>
    </el-row>
</template>

<script>
import { mapState } from "vuex";
import { LOGOUT_MUTATION } from "../store/auth";

export default {
    name: "HorizontalMenu",
    data: function() {
        return {
            search: "",
            isSearching: false,
            usernameFirstLetter: ""
        };
    },
    methods: {
        onSearch: function() {
            this.isSearching = true;
        },
        onLogoutClick() {
            this.$store.commit(LOGOUT_MUTATION);
            this.$router.push({ name: "login" });
        }
    },
    computed: {
        userFirstLetter() {
            return this.$store.getters.username
                ? this.$store.getters.username.slice(0, 1)
                : "";
        },
        username() {
            return this.user?.username ?? null;
        },
        ...mapState({
            user: state => state.auth.currentUser
        })
    }
};
</script>

<style lang="scss" scoped>
.menu-row {
    border: 1px solid #e6e6e6;
    height: 100%;
    padding: 0 16px;
}

.menu-item {
    margin: 0 8px;
    white-space: nowrap;

    &:first-of-type {
        margin-left: 16px;
    }
}

.search-input {
    width: 270px;
}

.left-menu {
    column-gap: 8px;
    display: grid;
    grid-template-columns: min-content min-content;

    > * {
        white-space: nowrap;
    }
}
</style>
