<template>
    <div class="access-list__container">
        <el-row class="controls__row" type="flex" justify="space-between">
            <el-input class="search__input" placeholder="Поиск"></el-input>

            <el-button type="primary" @click="dialogVisible = true">
                Добавить пользователя
            </el-button>
        </el-row>
        <section class="list__container">
            <div
                v-for="contributor of contributors"
                class="list__item access-list__item"
                :key="contributor.id"
            >
                <span>{{ contributor.username }}</span>
                <el-button
                    v-if="contributor.id !== ownerId"
                    type="danger"
                    icon="el-icon-delete"
                    size="small"
                    circle
                    @click="onDeleteContributor(contributor.id)"
                ></el-button>
            </div>
        </section>

        <el-dialog
            title="Добавление пользователя"
            :visible.sync="dialogVisible"
            width="400px"
        >
            <div class="access-list__container">
                <label>Выберите пользователя</label>
                <el-select filterable v-model="newUser">
                    <el-option
                        v-for="item in users"
                        :key="item.id"
                        :label="item.username"
                        :value="item.id"
                    >
                    </el-option>
                </el-select>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="onAddUser">
                    Выбрать
                </el-button>
                <el-button @click="dialogVisible = false">Отмена</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import { PATCH_REPOSITORY_ACTION } from "../../store/repository";

export default {
    name: "AccessList",
    data() {
        return {
            dialogVisible: false,
            newUser: null
        };
    },
    methods: {
        onAddUser() {
            this.$store
                .dispatch(PATCH_REPOSITORY_ACTION, {
                    repositoryId: this.repositoryId,
                    patchData: {
                        contributors: [
                            ...this.contributors.map(
                                contributor => contributor.id
                            ),
                            this.newUser
                        ]
                    }
                })
                .then(() => {
                    this.dialogVisible = false;
                    this.newUser = null;
                });
        },
        onDeleteContributor(contributorId) {
            this.$store.dispatch(PATCH_REPOSITORY_ACTION, {
                repositoryId: this.repositoryId,
                patchData: {
                    contributors: this.contributors
                        .filter(contributor => contributor.id !== contributorId)
                        .map(contributor => contributor.id)
                }
            });
        }
    },
    props: {
        repositoryId: {
            type: Number,
            required: true
        },
        ownerId: {
            type: Number,
            required: true
        },
        contributors: {
            type: Array,
            required: true,
            default: () => []
        },
        users: {
            type: Array,
            required: true,
            default: () => []
        }
    }
};
</script>

<style lang="scss" scoped>
.controls__row {
    .search__input {
        max-width: 300px;
    }
}

.access-list__container {
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 16px;

    .access-list__item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-height: 32px;

        span {
            align-items: center;
            display: flex;
        }
    }
}
</style>
