<template>
    <el-row type="flex">
        <el-avatar class="comment__avatar">{{ authorFirstLetter }}</el-avatar>

        <section
            class="issue-comment"
            :class="{ 'my-comment': currentUserId === comment.author.id }"
        >
            <el-row
                class="comment__header"
                type="flex"
                align="middle"
                justify="space-between"
            >
                <el-row type="flex" align="middle">
                    <b class="header__username">
                        {{ comment.author.username }}
                    </b>
                    оставил комментарий
                    {{ commentCreationDate }}
                </el-row>
            </el-row>

            <el-row class="comment__content">
                <span v-if="comment.content.length > 0">
                    {{ comment.content }}
                </span>
                <i v-else>Описание отсутствует</i>
            </el-row>
        </section>
    </el-row>
</template>

<script>
import { formatDistanceToNow } from "date-fns";
import { ru } from "date-fns/locale";

export default {
    name: "Comment",
    props: {
        comment: Object,
        currentUserId: {
            type: Number
        }
    },
    computed: {
        authorFirstLetter: function() {
            return this.comment.author.username[0];
        },
        commentCreationDate: function() {
            const date = new Date(this.comment.created_at);
            return formatDistanceToNow(date, {
                addSuffix: true,
                locale: ru
            });
        }
    }
};
</script>

<style lang="scss" scoped>
.issue-comment {
    border: 1px solid #d1d5da;
    border-radius: 4px;
    flex-grow: 1;
    margin-left: 16px;
}

.comment__header {
    background-color: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    padding: 16px;

    .header__username {
        margin-right: 2px;
    }
}

.comment__avatar {
    flex-shrink: 0;
}

.my-comment {
    border-color: rgb(198, 226, 255);

    .comment__header {
        background-color: rgb(236, 245, 255);
    }
}

.comment__content {
    font-size: 14px;
    padding: 16px;
}
</style>
