<template>
    <section class="inline-comment">
        <span v-if="isStateMessage">
            <b>{{ comment.author.username }}</b>
            <span
                class="selected-text"
                :class="{
                    'reopen-message': comment.type === 2,
                    'close-message': comment.type === 1
                }"
            >
                {{ comment.type === 1 ? "закрыл" : "переоткрыл" }} задачу
            </span>
            {{ getDistanceToNow(comment.created_at) }}
        </span>
    </section>
</template>

<script>
import { getDistanceToNow } from "../../date-utils";

export default {
    name: "InlineComment",
    props: {
        comment: {
            type: Object,
            required: true
        }
    },
    methods: {
        getDistanceToNow
    },
    computed: {
        isStateMessage() {
            return this.comment.type === 1 || this.comment.type === 2;
        }
    }
};
</script>

<style lang="scss" scoped>
@import "../../assets/styles";

.inline-comment {
    margin-left: 56px;
    padding: 16px;
}

.selected-text {
    border: 1px solid transparent;
    border-radius: 3px;
    color: white;
    padding: 4px 0;
    margin: 0 2px;

    &.reopen-message {
        background-color: $success-color;
        border-color: $success-color;
    }

    &.close-message {
        background-color: $danger-color;
        border-color: $danger-color;
    }
}
</style>
