<template>
    <div class="container">
        <div v-if="labels.length > 0">
            <el-row class="label" v-for="label of labels" :key="label.id">
                <el-row
                    type="flex"
                    justify="space-between"
                    v-if="!editing[label.id]"
                >
                    <span
                        class="label__badge"
                        :style="{
                            'background-color': label.color,
                            'border-color': label.color,
                            color: getForegroundColor(label.color)
                        }"
                    >
                        {{ label.title }}
                    </span>

                    <section v-if="hasAccess" class="label__controls">
                        <el-button size="mini" @click="startEditing(label.id)">
                            Изменить
                        </el-button>
                        <el-button
                            type="danger"
                            size="mini"
                            @click="onDeleteLabel(label.id)"
                        >
                            Удалить
                        </el-button>
                    </section>
                </el-row>

                <div v-else>
                    <label-form
                        :label="label"
                        :repository-id="repositoryId"
                        @success="stopEditing(label.id)"
                        @cancel="stopEditing(label.id)"
                    ></label-form>
                </div>
            </el-row>
        </div>
        <div class="list__empty" v-else>
            Список тегов пуст
        </div>
    </div>
</template>

<script>
import LabelForm from "./LabelForm";

export default {
    name: "LabelsList",
    components: {
        LabelForm
    },
    data: function() {
        return {
            editing: {}
        };
    },
    props: {
        labels: {
            type: Array,
            required: true
        },
        repositoryId: {
            type: Number,
            required: true
        },
        hasAccess: {
            type: Boolean,
            default: () => false
        }
    },
    methods: {
        getForegroundColor: function(backgroundColor) {
            const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(
                backgroundColor
            );
            if (!result) {
                return "#000000"; //Happens when not given hex
            }
            const shade =
                (parseInt(result[1], 16) +
                    parseInt(result[2], 16) +
                    parseInt(result[3], 16)) /
                3;
            return shade > 128 ? "#000000" : "#FFFFFF";
        },
        startEditing: function(labelId) {
            this.editing = {
                ...this.editing,
                [labelId]: true
            };
        },
        stopEditing: function(labelId) {
            this.editing = {
                ...this.editing,
                [labelId]: undefined
            };
        },
        onDeleteLabel(labelId) {
            this.$emit("delete", labelId);
        }
    }
};
</script>

<style lang="scss" scoped>
.container {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.label {
    border-bottom: 1px solid #ddd;
    padding: 12px 16px;

    &:last-of-type {
        border-bottom: none;
    }
}

.label__controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
</style>
