<template>
    <section class="form-container">
        <el-row class="example-row">
            <span
                class="label__badge"
                :style="{
                    'background-color': formData.color,
                    'border-color': formData.color,
                    color: getForegroundColor(formData.color)
                }"
            >
                {{ exampleLabel }}
            </span>
        </el-row>
        <el-form :inline="true" :model="formData">
            <el-form-item label="Название">
                <el-input
                    v-model="formData.title"
                    placeholder="Название тега"
                ></el-input>
            </el-form-item>
            <el-form-item label="Описание">
                <el-input
                    v-model="formData.description"
                    placeholder="Описание"
                ></el-input>
            </el-form-item>
            <el-form-item label="Цвет">
                <el-color-picker v-model="formData.color"></el-color-picker>
            </el-form-item>
            <el-form-item>
                <el-button type="success" :loading="isLoading" @click="onSave">
                    Сохранить
                </el-button>
                <el-button @click="onCancel">Отмена</el-button>
            </el-form-item>
        </el-form>
    </section>
</template>

<script>
import axios from "axios";
import { ADD_LABEL, UPDATE_LABEL } from "../../store/issues";

export default {
    name: "LabelForm",
    data: function() {
        return {
            formData: {
                color: this.label?.color ?? "#999999",
                description: this.label?.description ?? null,
                title: this.label?.title ?? null
            },
            isLoading: false
        };
    },
    methods: {
        getForegroundColor: function(backgroundColor) {
            const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(
                backgroundColor
            );
            if (!result) {
                return "#000000"; //Happens when not given hex
            }
            const shade =
                (parseInt(result[1], 16) +
                    parseInt(result[2], 16) +
                    parseInt(result[3], 16)) /
                3;
            return shade > 128 ? "#000000" : "#FFFFFF";
        },
        async onSave() {
            this.isLoading = true;
            let response;
            const requestData = {
                ...this.formData,
                repo_id: this.repositoryId
            };
            try {
                if (this.label?.id) {
                    response = await axios.put(
                        `/api/labels/${this.label.id}`,
                        requestData
                    );
                    this.$store.commit(UPDATE_LABEL, response.data);
                } else {
                    response = await axios.post(`/api/labels`, requestData);
                    this.$store.commit(ADD_LABEL, response.data);
                }
            } catch (err) {
                this.$message.error("При сохранении произошла ошибка");
            } finally {
                this.isLoading = false;
            }
            this.$emit("success");
        },
        onCancel() {
            this.$emit("cancel");
        }
    },
    props: {
        label: {
            type: Object,
            default: () => null
        },
        repositoryId: {
            type: Number,
            required: true
        }
    },
    computed: {
        exampleLabel: function() {
            return this.formData.title ?? "Пример";
        }
    }
};
</script>

<style lang="scss" scoped>
.form-container {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 16px 16px 0;
}

.color-input {
    max-width: 100px;
}

.example-row {
    margin-bottom: 8px;
}
</style>
