<template>
    <div>
        <div class="settings__field">
            <label>Ответственный</label>
            <el-select
                class="input-element"
                placeholder="Выбрать"
                clearable
                :disabled="isReadOnly"
                :value="assigneeId"
                @change="onAssigneeChange"
            >
                <el-option
                    v-for="item in users"
                    :key="item.id"
                    :label="item.username"
                    :value="item.id"
                >
                </el-option>
            </el-select>
        </div>

        <div class="settings__field">
            <label>Теги</label>
            <el-select
                class="input-element"
                placeholder="Выбрать"
                multiple
                clearable
                :disabled="isReadOnly"
                :value="selectedLabels"
                @change="onLabelsChange"
            >
                <el-option
                    v-for="item in labels"
                    :key="item.id"
                    :label="item.title"
                    :value="item.id"
                >
                </el-option>
            </el-select>
        </div>

        <div class="settings__field">
            <label>Этап</label>
            <el-select
                class="input-element"
                placeholder="Выбрать"
                clearable
                :disabled="isReadOnly"
                :value="milestoneId"
                @change="onMilestoneChange"
            >
                <el-option
                    v-for="item in milestones"
                    :key="item.id"
                    :label="item.title"
                    :value="item.id"
                >
                </el-option>
            </el-select>
        </div>
    </div>
</template>

<script>
export default {
    name: "SettingsBox",
    data: function() {
        return {
            assigneeId: this.assignee,
            selectedLabels: this.selectedLabelsProp,
            milestoneId: this.milestone
        };
    },
    props: {
        assignee: {
            type: Number
        },
        selectedLabelsProp: {
            type: Array
        },
        users: {
            type: Array,
            default: () => []
        },
        labels: {
            type: Array,
            default: () => []
        },
        milestone: {
            type: Number
        },
        milestones: {
            type: Array,
            required: true
        },
        isReadOnly: {
            type: Boolean,
            default: () => false
        }
    },
    methods: {
        onAssigneeChange: function(assigneeId) {
            this.assigneeId =
                typeof assigneeId === "string" ? null : assigneeId;
            this.$emit("assignee-change", this.assigneeId);
        },
        onLabelsChange: function(labels) {
            this.selectedLabels = labels;
            this.$emit("labels-change", this.selectedLabels);
        },
        onMilestoneChange: function(milestoneId) {
            this.milestoneId =
                typeof milestoneId === "string" ? null : milestoneId;
            this.$emit("milestone-change", this.milestoneId);
        }
    },
    watch: {
        assignee: function(newValue) {
            this.assigneeId = newValue;
        },
        milestone: function(newValue) {
            this.milestoneId = newValue;
        },
        selectedLabelsProp: function(newValue) {
            this.selectedLabels = newValue;
        }
    }
};
</script>

<style lang="scss" scoped>
.settings__field {
    display: flex;
    flex-direction: column;

    .input-element {
        margin-top: 4px;
    }

    & + .settings__field {
        margin-top: 8px;
    }
}
</style>
