@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "~vue2-animate/src/sass/vue2-animate";

@import "./styles/forms";
@import "./styles/variables";
@import "./styles/lists";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a, a:hover, a:active {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.label__badge {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 4px;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
