<template>
    <el-main>
        <el-row type="flex" align="middle" justify="space-between">
            <el-input
                class="search__input"
                v-model="search"
                placeholder="Поиск"
                id="search"
            ></el-input>

            <el-button-group>
                <router-link :to="{ name: 'labels' }" v-slot="{ navigate }">
                    <el-button @click="navigate">Теги</el-button>
                </router-link>
                <router-link :to="{ name: 'milestones' }" v-slot="{ navigate }">
                    <el-button @click="navigate">
                        Этапы
                    </el-button>
                </router-link>
            </el-button-group>

            <el-row type="flex" align="middle">
                <router-link :to="{ name: 'new_issue' }">
                    <el-button type="success">Создать задачу</el-button>
                </router-link>
            </el-row>
        </el-row>

        <el-row class="issues__container">
            <issue-list :issues="filteredIssues"></issue-list>
        </el-row>
    </el-main>
</template>

<script>
import IssueList from "../../components/shared/IssueList";
import { FETCH_ISSUES_FOR_REPO_ACTION } from "../../store/issues";
import { mapState } from "vuex";

export default {
    name: "IssuesView",
    components: {
        IssueList
    },
    data: function() {
        return {
            search: ""
        };
    },
    methods: {
        goToLabels: function() {
            this.$router.push("labels");
        },
        goToMilestones: function() {
            this.$router.push("milestones");
        }
    },
    created() {
        this.$store.dispatch(FETCH_ISSUES_FOR_REPO_ACTION, this.repository.id);
    },
    computed: {
        ...mapState({
            issues: state => state.issuesState.issues,
            repository: state => state.repositoryState.repository
        }),
        filteredIssues: function() {
            if (this.search) {
                return this.issues.filter(issue =>
                    issue.title.includes(this.search)
                );
            }

            return this.issues;
        }
    }
};
</script>

<style lang="scss" scoped>
.search-label {
    margin-right: 8px;
}

.search__input {
    max-width: 300px;
}

.issues__container {
    margin-top: 16px;
}
</style>
