<template>
    <el-main v-if="issue">
        <el-row type="flex" justify="space-between">
            <el-row class="title-container" type="flex" align="middle">
                <h2>{{ issue.title }}</h2>
                <h2 class="issue__id">#{{ issue.id }}</h2>
            </el-row>

            <el-row type="flex" align="middle">
                <router-link
                    v-if="hasEditingAccess"
                    :to="{ name: 'edit_issue' }"
                    v-slot="{ navigate }"
                >
                    <el-button size="small" @click="navigate">
                        Изменить
                    </el-button>
                </router-link>
                <router-link :to="{ name: 'new_issue' }" v-slot="{ navigate }">
                    <el-button size="small" type="success" @click="navigate">
                        Новая задача
                    </el-button>
                </router-link>
            </el-row>
        </el-row>

        <el-row class="info-container" type="flex" align="middle">
            <el-tag
                effect="dark"
                size="small"
                :type="issue.is_closed ? 'danger' : 'success'"
            >
                {{ issue.is_closed ? "Закрыта" : "Открыта" }}
            </el-tag>

            <span>
                {{ issue.author.username }} открыл эту задачу
                {{ issueCreationDate }}
            </span>
        </el-row>

        <el-divider></el-divider>

        <el-row class="data-section" type="flex">
            <el-col>
                <comment
                    :comment="issue"
                    :current-user-id="currentUser.id"
                ></comment>

                <div class="list__comment">
                    <div v-for="comment of comments" :key="comment.id">
                        <comment
                            v-if="comment.type === 0"
                            :comment="comment"
                            :current-user-id="currentUser.id"
                        ></comment>

                        <inline-comment
                            v-else
                            :comment="comment"
                        ></inline-comment>
                    </div>
                </div>

                <el-row type="flex" class="comment-form-container">
                    <el-avatar :title="currentUser.username">
                        {{ currentUserFirstLetter }}
                    </el-avatar>

                    <section class="comment-form">
                        <el-input
                            class="comment-form__textarea"
                            type="textarea"
                            placeholder="Комментарий"
                            :rows="5"
                            v-model="commentText"
                        ></el-input>
                        <div class="comment-form__controls">
                            <el-button
                                type="success"
                                :loading="isCommentSaving"
                                @click="onSendComment"
                            >
                                Отправить
                            </el-button>
                            <el-button
                                v-if="isContributorOrAuthor"
                                @click="onIssueCloseToggle"
                            >
                                {{ stateToggleBtnText }}
                            </el-button>
                        </div>
                    </section>
                </el-row>
            </el-col>

            <el-col class="settings-box" :span="8">
                <settings-box
                    :assignee="issue.assignee_id"
                    :labels="labels"
                    :selected-labels-prop="issueLabels"
                    :users="collaborators"
                    :milestones="milestones"
                    :milestone="issue.milestone_id"
                    :is-read-only="!isContributorOrAuthor"
                    @assignee-change="onAssigneeChange"
                    @labels-change="onLabelsChange"
                    @milestone-change="onMilestoneChange"
                ></settings-box>

                <el-row
                    v-if="isContributorOrAuthor"
                    type="flex"
                    justify="end"
                    style="margin-top: 16px;"
                >
                    <el-popconfirm
                        confirmButtonText="Да"
                        cancelButtonText="Нет"
                        icon="el-icon-info"
                        iconColor="red"
                        title="Вы уверены, что хотите удалить данную задачу?"
                        @onConfirm="onIssueDelete"
                    >
                        <el-button slot="reference" type="danger" size="small">
                            Удалить задачу
                        </el-button>
                    </el-popconfirm>
                </el-row>
            </el-col>
        </el-row>
    </el-main>
</template>

<script>
import {
    CREATE_COMMENT_ACTION,
    DELETE_ISSUE_ACTION,
    FETCH_ISSUE_ACTION,
    FETCH_ISSUE_COMMENTS_ACTION,
    FETCH_LABELS_ACTION,
    FETCH_MILESTONES_ACTION,
    PATCH_ISSUE_ACTION
} from "../../store/issues";
import { mapState } from "vuex";
import { formatDistanceToNow } from "date-fns";
import { ru } from "date-fns/locale";

import Comment from "../../components/repository/Comment";
import SettingsBox from "../../components/repository/SettingsBox";
import { FETCH_COLLABORATORS_ACTION } from "../../store/repository";
import InlineComment from "../../components/repository/InlineComment";

export default {
    name: "IssuePage",
    components: {
        Comment,
        SettingsBox,
        InlineComment
    },
    data: function() {
        return {
            commentText: "",
            isCommentSaving: false,
            settingsValue: null
        };
    },
    created() {
        const issueId = this.$route.params.issueId;
        this.$store.dispatch(FETCH_ISSUE_ACTION, issueId);
        this.$store.dispatch(FETCH_ISSUE_COMMENTS_ACTION, issueId);
        this.$store.dispatch(FETCH_COLLABORATORS_ACTION, this.repositoryId);
        this.$store.dispatch(FETCH_LABELS_ACTION, this.repositoryId);
        this.$store.dispatch(FETCH_MILESTONES_ACTION, this.repositoryId);
    },
    methods: {
        onSendComment() {
            this.isCommentSaving = true;
            const data = {
                repo_id: this.repositoryId,
                content: this.commentText,
                issue_id: this.issue.id
            };
            this.$store.dispatch(CREATE_COMMENT_ACTION, data).then(() => {
                this.commentText = "";
                this.isCommentSaving = false;
            });
        },
        onAssigneeChange(assigneeId) {
            this.$store.dispatch(PATCH_ISSUE_ACTION, {
                issueId: this.issue.id,
                patchData: {
                    assignee_id: assigneeId
                }
            });
        },
        onLabelsChange(labels) {
            this.$store.dispatch(PATCH_ISSUE_ACTION, {
                issueId: this.issue.id,
                patchData: { labels }
            });
        },
        onMilestoneChange(milestoneId) {
            this.$store.dispatch(PATCH_ISSUE_ACTION, {
                issueId: this.issue.id,
                patchData: { milestone_id: milestoneId }
            });
        },
        onIssueCloseToggle() {
            this.$store
                .dispatch(PATCH_ISSUE_ACTION, {
                    issueId: this.issue.id,
                    patchData: { is_closed: !this.issue.is_closed }
                })
                .then(() =>
                    this.$store.dispatch(
                        FETCH_ISSUE_COMMENTS_ACTION,
                        this.issue.id
                    )
                );
        },
        onIssueDelete() {
            this.$store.dispatch(DELETE_ISSUE_ACTION, this.issue.id).then(() =>
                this.$router.push({
                    name: "repo_issues",
                    params: { ...this.$route.params }
                })
            );
        }
    },
    computed: {
        ...mapState({
            issue: state => state.issuesState.singleIssue,
            currentUser: state => state.auth.currentUser,
            comments: state => state.issuesState.comments,
            repository: state => state.repositoryState.repository,
            collaborators: state => state.repositoryState.collaborators,
            labels: state => state.issuesState.labels,
            milestones: state => state.issuesState.milestones
        }),
        currentUserFirstLetter: function() {
            return this.currentUser.username[0];
        },
        issueCreationDate: function() {
            const date = new Date(this.issue.created_at);
            return formatDistanceToNow(date, { addSuffix: true, locale: ru });
        },
        issueLabels: function() {
            return this.issue.labels.map(label => label.id);
        },
        stateToggleBtnText() {
            return this.issue.is_closed
                ? "Переоткрыть задачу"
                : "Закрыть задачу";
        },
        hasEditingAccess() {
            return this.issue?.author_id === this.currentUser?.id;
        },
        repositoryId() {
            return this.repository?.id;
        },
        isContributorOrAuthor() {
            const currentId = this.currentUser?.id;
            const contribIds = this.repository?.contributors.map(
                contributor => contributor.id
            );
            return [...contribIds, this.issue.author_id].includes(currentId);
        }
    }
};
</script>

<style lang="scss" scoped>
.issue__id {
    color: rgba(153, 153, 153, 0.99);
    margin-left: 8px;
}

.settings-box {
    margin-left: 16px;
}

.comment-form-container {
    margin-top: 32px;
}

.info-container {
    margin-top: 8px;

    span + span {
        margin-left: 8px;
    }
}

.data-section {
    margin-top: 16px;
}

.title-container {
    h2 {
        margin: 4px 0;
    }
}

.comment-form {
    flex-grow: 1;
    margin-left: 16px;

    .comment-form__textarea {
        margin-bottom: 8px;
    }

    .comment-form__controls {
        display: flex;
        justify-content: space-between;
    }
}

.list__comment {
    display: grid;
    margin-top: 16px;
    row-gap: 16px;
}
</style>
