<template>
    <el-main class="container">
        <el-row type="flex" align="middle" justify="space-between">
            <el-input
                class="search__input"
                v-model="search"
                placeholder="Поиск по существующим тегам"
                id="search"
            ></el-input>

            <el-button v-if="hasAccess" type="success" @click="onCreate">
                Создать новый тег
            </el-button>
        </el-row>

        <transition name="el-fade-in">
            <el-row v-if="isCreating">
                <label-form
                    :repository-id="repository.id"
                    @success="onCreationFormClose"
                    @cancel="onCreationFormClose"
                ></label-form>
            </el-row>
        </transition>

        <el-row>
            <labels-list
                :labels="filteredLabels"
                :repository-id="repository.id"
                :has-access="hasAccess"
                @delete="onDeleteLabel"
            ></labels-list>
        </el-row>
    </el-main>
</template>

<script>
import LabelsList from "../../components/repository/LabelsList";
import { DELETE_LABEL_ACTION, FETCH_LABELS_ACTION } from "../../store/issues";
import { mapState } from "vuex";
import LabelForm from "../../components/repository/LabelForm";

export default {
    name: "LabelsView",
    components: {
        LabelsList,
        LabelForm
    },
    created() {
        this.$store.dispatch(FETCH_LABELS_ACTION, this.repository.id);
    },
    data: function() {
        return {
            search: "",
            isCreating: false
        };
    },
    methods: {
        onCreate() {
            this.isCreating = true;
        },
        onCreationFormClose() {
            this.isCreating = false;
        },
        onDeleteLabel(labelId) {
            this.$store.dispatch(DELETE_LABEL_ACTION, labelId);
        }
    },
    computed: {
        ...mapState({
            repository: state => state.repositoryState.repository,
            labels: state => state.issuesState.labels,
            hasAccess: function(state) {
                const currentUser = state.auth.currentUser;
                return currentUser?.accessible_repos.includes(
                    this.repository.id
                );
            }
        }),
        filteredLabels: function() {
            return this.labels.filter(label =>
                label.title.includes(this.search)
            );
        }
    }
};
</script>

<style lang="scss" scoped>
.search__input {
    max-width: 300px;
}

.container {
    .el-row + .el-row {
        margin-top: 16px;
    }
}
</style>
