<template>
    <el-main v-if="milestone">
        <section class="controls__row">
            <section class="milestone">
                <h2 class="milestone__title">Этап {{ milestone.title }}</h2>
                <div class="milestone__metadata">
                    <span>
                        {{
                            milestone.due_date
                                ? parseDueDate(milestone)
                                : "Дата окончания не указана"
                        }}
                    </span>
                    <span>
                        Прогресс <b>{{ getProgress(milestone) }}%</b>
                    </span>
                </div>
            </section>

            <div>
                <router-link
                    v-if="hasAccess"
                    :to="{
                        name: 'edit_milestone',
                        params: { milestoneId: milestone.id }
                    }"
                    v-slot="{ navigate }"
                >
                    <el-button @click="navigate">
                        Изменить этап
                    </el-button>
                </router-link>
                <router-link
                    :to="{
                        name: 'new_issue',
                        query: { milestoneId: milestone.id }
                    }"
                    v-slot="{ navigate }"
                >
                    <el-button type="success" @click="navigate">
                        Добавить задачу
                    </el-button>
                </router-link>
            </div>
        </section>

        <section>
            <issues-list :issues="issues"></issues-list>
        </section>
    </el-main>
</template>

<script>
import axios from "axios";
import { getProgress } from "../../utils/milestone";
import { format, parseISO } from "date-fns";
import IssuesList from "../../components/shared/IssueList";
import { mapState } from "vuex";

export default {
    name: "MilestonePage",
    components: {
        IssuesList
    },
    data: function() {
        return {
            milestoneId: null,
            milestone: null,
            issues: []
        };
    },
    methods: {
        async fetchMilestone() {
            const response = await axios.get(
                `/api/milestones/${this.milestoneId}`
            );
            this.milestone = response.data;
        },
        async fetchIssues() {
            const response = await axios.get(
                `/api/issues?milestoneId=${this.milestoneId}`
            );
            this.issues = response.data.issues;
        },
        getProgress,
        parseDueDate(milestone) {
            return format(parseISO(milestone.due_date), "dd.MM.yyyy");
        }
    },
    created() {
        this.milestoneId = this.$route.params.milestoneId;
        this.fetchMilestone();
        this.fetchIssues();
    },
    computed: {
        ...mapState({
            hasAccess: function(state) {
                const currentUser = state.auth.currentUser;
                return currentUser?.accessible_repos.includes(
                    this.repository?.id
                );
            }
        })
    }
};
</script>

<style lang="scss" scoped>
.controls__row {
    display: flex;
    justify-content: space-between;
}

.milestone {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;

    .milestone__title {
        margin: 0;
    }

    .milestone__metadata {
        column-gap: 16px;
        display: grid;
        grid-template-columns: min-content min-content;
        white-space: nowrap;
    }
}
</style>
