<template>
    <el-main>
        <el-row type="flex" align="middle" justify="space-between">
            <h2>Этапы</h2>
            <router-link
                v-if="hasAccess"
                :to="{ name: 'new_milestone' }"
                v-slot="{ navigate }"
            >
                <el-button type="success" @click="navigate">
                    Новый этап
                </el-button>
            </router-link>
        </el-row>
        <div class="list__container" v-if="milestones.length > 0">
            <div
                v-for="milestone of milestones"
                class="list__item milestone"
                :key="milestone.id"
            >
                <div>
                    <router-link
                        :to="`milestones/${milestone.id}`"
                        v-slot="{ navigate }"
                    >
                        <el-link @click="navigate">
                            <h2 class="milestone__title">
                                {{ milestone.title }}
                            </h2>
                        </el-link>
                    </router-link>
                    <p
                        class="milestone__due-date"
                        :class="{ past: isDue(milestone) }"
                    >
                        {{
                            milestone.due_date
                                ? `До ${parseDueDate(milestone)}`
                                : "Дата окончания не задана"
                        }}
                    </p>
                </div>

                <div class="milestone__progress">
                    <el-progress
                        :stroke-width="12"
                        :percentage="getProgress(milestone)"
                    ></el-progress>
                    <div class="progress__metadata">
                        <span>
                            {{ milestone.num_issues - milestone.num_closed }}
                            открыто
                        </span>
                        <span>{{ milestone.num_closed }} закрыто</span>
                    </div>
                    <div v-if="hasAccess">
                        <el-button
                            type="danger"
                            size="mini"
                            @click="onDelete(milestone.id)"
                        >
                            Удалить
                        </el-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list__empty" v-else>
            Список этапов пуст
        </div>
    </el-main>
</template>

<script>
import {
    DELETE_MILESTONE_ACTION,
    FETCH_MILESTONES_ACTION
} from "../../store/issues";
import { mapState } from "vuex";
import { format, parseISO, isPast } from "date-fns";
import { getProgress } from "../../utils/milestone";

export default {
    name: "MilestonesView",
    created() {
        this.$store.dispatch(FETCH_MILESTONES_ACTION, this.repositoryId);
    },
    methods: {
        parseDueDate(milestone) {
            return format(parseISO(milestone.due_date), "dd.MM.yyyy");
        },
        isDue(milestone) {
            return isPast(parseISO(milestone.due_date));
        },
        getProgress,
        onDelete(milestoneId) {
            this.$store.dispatch(DELETE_MILESTONE_ACTION, milestoneId);
        }
    },
    computed: {
        ...mapState({
            repositoryId: state => state.repositoryState.repository?.id,
            milestones: state => state.issuesState.milestones,
            hasAccess: function(state) {
                const currentUser = state.auth.currentUser;
                return currentUser?.accessible_repos.includes(
                    this.repositoryId
                );
            }
        })
    }
};
</script>

<style lang="scss" scoped>
.milestone {
    display: grid;
    grid-template-columns: 1fr 400px;
}

.milestone__title {
    margin: 0;
}

.milestone__due-date {
    margin: 0;

    &.past {
        color: tomato;
    }
}

.milestone__progress {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;
}

.progress__metadata {
    display: grid;
    grid-template-columns: 100px 100px;
}
</style>
