<template>
    <el-main>
        <el-row type="flex">
            <el-col>
                <el-form
                    :model="newIssueForm"
                    :rules="formRules"
                    @submit="saveIssue"
                >
                    <el-form-item label="Название задачи" prop="title">
                        <el-input
                            placeholder="Название задачи"
                            v-model="newIssueForm.title"
                        ></el-input>
                    </el-form-item>

                    <el-form-item label="Содержимое задачи" prop="content">
                        <el-input
                            placeholder="Содержимое задачи"
                            type="textarea"
                            :rows="5"
                            v-model="newIssueForm.content"
                        ></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="saveIssue">
                            Создать
                        </el-button>
                    </el-form-item>
                </el-form>
            </el-col>
            <el-col class="settings-box" :span="8">
                <settings-box
                    :assignee="newIssueForm.assigneeId"
                    :labels="labels"
                    :selected-labels-prop="newIssueForm.selectedLabels"
                    :milestone="newIssueForm.milestoneId"
                    :milestones="milestones"
                    :users="collaborators"
                    @assignee-change="onAssigneeChange"
                    @labels-change="onLabelsChange"
                    @milestone-change="onMilestoneChange"
                ></settings-box>
            </el-col>
        </el-row>
    </el-main>
</template>

<script>
import {
    CLEAR_ISSUE_MUTATION,
    CREATE_ISSUE_ACTION,
    FETCH_ISSUE_ACTION,
    FETCH_LABELS_ACTION,
    FETCH_MILESTONES_ACTION,
    PATCH_ISSUE_ACTION
} from "../../store/issues";
import { mapState } from "vuex";
import SettingsBox from "../../components/repository/SettingsBox";
import { FETCH_COLLABORATORS_ACTION } from "../../store/repository";

export default {
    name: "NewIssue",
    components: {
        SettingsBox
    },
    data: function() {
        return {
            newIssueForm: {
                title: "",
                content: "",
                assigneeId: null,
                milestoneId: null,
                selectedLabels: []
            },
            formRules: {
                title: {
                    required: true,
                    message: "Обязательное поле",
                    trigger: "blur"
                }
            }
        };
    },
    methods: {
        onLabelsChange(labels) {
            this.newIssueForm.selectedLabels = labels;
        },
        onMilestoneChange(milestoneId) {
            this.newIssueForm.milestoneId = milestoneId;
        },
        onAssigneeChange(assigneeId) {
            this.newIssueForm.assigneeId = assigneeId;
        },
        async saveIssue() {
            const data = {
                ...this.newIssueForm,
                milestone_id: this.newIssueForm.milestoneId,
                assignee_id: this.newIssueForm.assigneeId,
                labels: this.newIssueForm.selectedLabels,
                repo_id: this.repository.id
            };
            if (this.issue?.id) {
                await this.$store.dispatch(PATCH_ISSUE_ACTION, {
                    issueId: this.issue.id,
                    patchData: {
                        ...data
                    }
                });
                await this.$router.push({
                    name: "issue",
                    params: { issueId: this.issue.id }
                });
            } else {
                const issue = await this.$store.dispatch(
                    CREATE_ISSUE_ACTION,
                    data
                );
                await this.$router.push({
                    name: "issue",
                    params: { issueId: issue.id }
                });
            }
        }
    },
    created() {
        this.$store.commit(CLEAR_ISSUE_MUTATION);
        this.$store.dispatch(FETCH_COLLABORATORS_ACTION, this.repository.id);
        this.$store.dispatch(FETCH_LABELS_ACTION, this.repository.id);
        this.$store.dispatch(FETCH_MILESTONES_ACTION, this.repository.id);

        const routeName = this.$route.name;
        if (routeName === "edit_issue") {
            this.$store
                .dispatch(FETCH_ISSUE_ACTION, this.$route.params.issueId)
                .then(issue => {
                    this.newIssueForm = {
                        title: issue.title,
                        content: issue.content,
                        assigneeId: issue.assignee_id,
                        milestoneId: issue.milestone_id,
                        selectedLabels: issue.labels
                    };
                });
        }

        if (this.$route.query.milestoneId && routeName !== "edit_issue") {
            this.newIssueForm.milestoneId = +this.$route.query.milestoneId;
        }
    },
    computed: {
        ...mapState({
            repository: state => state.repositoryState.repository,
            collaborators: state => state.repositoryState.collaborators,
            labels: state => state.issuesState.labels,
            milestones: state => state.issuesState.milestones,
            issue: state => state.issuesState.singleIssue
        })
    }
};
</script>

<style lang="scss" scoped>
.settings-box {
    margin-left: 16px;
}
</style>
