<template>
    <el-main>
        <h1>Новый этап</h1>
        <el-form
            label-position="top"
            ref="milestoneForm"
            :model="formData"
            :rules="rules"
        >
            <el-form-item label="Название" prop="title">
                <el-input
                    v-model="formData.title"
                    placeholder="Название этапа"
                ></el-input>
            </el-form-item>

            <el-form-item label="Дата окончания" prop="dueDate">
                <el-date-picker
                    v-model="formData.dueDate"
                    type="date"
                    format="dd.MM.yyyy"
                    placeholder="Выберите дату"
                ></el-date-picker>
            </el-form-item>

            <el-form-item label="Описание" prop="description">
                <el-input
                    v-model="formData.description"
                    type="textarea"
                    placeholder="Описание этапа"
                    rows="5"
                ></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="success" @click="onSubmit">Создать</el-button>
            </el-form-item>
        </el-form>
    </el-main>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";

export default {
    name: "NewMilestone",
    data() {
        return {
            milestone: null,
            formData: {
                title: null,
                dueDate: null,
                description: null
            },
            rules: {
                title: [
                    {
                        required: true,
                        message: "Обязательное поле",
                        trigger: "blur"
                    }
                ]
            }
        };
    },
    created() {
        if (this.$route.name === "edit_milestone") {
            this.fetchMilestone();
        }
    },
    methods: {
        onSubmit() {
            this.$refs.milestoneForm.validate(async valid => {
                if (!valid) {
                    return false;
                }

                const response = await this.makeSaveRequest();
                await this.$router.push({
                    name: "milestone",
                    params: { milestoneId: response.data.id }
                });
            });
        },
        async fetchMilestone() {
            const milestoneId = this.$route.params.milestoneId;
            const response = await axios.get(`/api/milestones/${milestoneId}`);
            this.milestone = response.data;
            this.formData = {
                title: this.milestone.title,
                dueDate: this.milestone.due_date,
                description: this.milestone.description
            };
        },
        async makeSaveRequest() {
            const requestData = {
                title: this.formData.title,
                description: this.formData.description,
                due_date: this.formData.dueDate,
                repo_id: this.repository.id
            };
            if (this.milestone !== null) {
                return axios.put(
                    `/api/milestones/${this.milestone.id}`,
                    requestData
                );
            } else {
                return axios.post("/api/milestones", requestData);
            }
        }
    },
    computed: {
        ...mapState({
            repository: state => state.repositoryState.repository
        })
    }
};
</script>
