<template>
    <el-main>
        <h1>Настройки репозитория</h1>
        <div>
            <h2>Общие настройки</h2>
            <el-form :model="formState">
                <el-form-item label="Название" prop="title">
                    <el-input v-model="formState.title"></el-input>
                </el-form-item>
                <el-form-item label="Описание" prop="description">
                    <el-input
                        v-model="formState.description"
                        type="textarea"
                        :rows="5"
                    ></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="success" @click="onPatch">
                        Сохранить изменения
                    </el-button>
                </el-form-item>
            </el-form>
        </div>

        <el-divider></el-divider>

        <div>
            <h2>Управление доступом</h2>
            <access-list
                :contributors="contributors"
                :repository-id="this.repository.id"
                :owner-id="this.repository.owner_id"
                :users="availableUsers"
            ></access-list>
        </div>

        <el-divider></el-divider>

        <div v-if="isOwner">
            <h2>Управление репозиторием</h2>
            <section class="list__container danger-zone">
                <div
                    v-if="!repository.is_private"
                    class="list__item danger-zone__item"
                >
                    <div>
                        <h3>Сделать репозиторий приватным</h3>
                        <p>Спратятать содержимое от всех пользователей.</p>
                    </div>

                    <el-button type="danger" @click="onMakePrivate">
                        Сделать приватным
                    </el-button>
                </div>
                <div v-else class="list__item danger-zone__item">
                    <div>
                        <h3>Сделать репозиторий публичным</h3>
                        <p>
                            Сделать содержимое доступным для всех пользователей.
                        </p>
                    </div>

                    <el-button type="danger" @click="onMakePublic">
                        Сделать публичным
                    </el-button>
                </div>
                <div class="list__item danger-zone__item">
                    <div>
                        <h3>Удалить репозиторий</h3>
                        <p>Удалить ВСЕ содержимое, связанное с репозиторием.</p>
                    </div>

                    <el-popconfirm
                        confirmButtonText="Да"
                        cancelButtonText="Нет"
                        icon="el-icon-info"
                        iconColor="red"
                        title="Вы уверены, что хотите удалить репозиторий?"
                        @onConfirm="onDeleteRepository"
                    >
                        <el-button slot="reference" type="danger">
                            Удалить
                        </el-button>
                    </el-popconfirm>
                </div>
            </section>
        </div>
    </el-main>
</template>

<script>
import { mapState } from "vuex";
import {
    DELETE_REPOSITORY_ACTION,
    FETCH_COLLABORATORS_ACTION,
    PATCH_REPOSITORY_ACTION
} from "../../store/repository";
import AccessList from "../../components/repository/AccessList";
import axios from "axios";

export default {
    name: "RepoSettings",
    components: {
        AccessList
    },
    data() {
        return {
            formState: {
                title: this.repository?.name,
                description: this.repository?.description
            },
            users: []
        };
    },
    methods: {
        async onDeleteRepository() {
            await this.$store.dispatch(
                DELETE_REPOSITORY_ACTION,
                this.repository.id
            );
            await this.$router.push({ name: "home_view" });
        },
        onPatch() {
            this.$store.dispatch(PATCH_REPOSITORY_ACTION, {
                repositoryId: this.repository.id,
                patchData: {
                    name: this.formState.title,
                    description: this.formState.description
                }
            });
        },
        onMakePrivate() {
            this.$store.dispatch(PATCH_REPOSITORY_ACTION, {
                repositoryId: this.repository.id,
                patchData: {
                    is_private: true
                }
            });
        },
        onMakePublic() {
            this.$store.dispatch(PATCH_REPOSITORY_ACTION, {
                repositoryId: this.repository.id,
                patchData: {
                    is_private: false
                }
            });
        },
        async fetchUsers() {
            const response = await axios.get("/api/users");
            this.users = response.data.users;
        }
    },
    created() {
        this.formState.title = this.repository.name;
        this.formState.description = this.repository.description;

        this.$store.dispatch(FETCH_COLLABORATORS_ACTION, this.repository.id);
        this.fetchUsers();
    },
    computed: {
        ...mapState({
            repository: state => state.repositoryState.repository,
            contributors: state => state.repositoryState.collaborators,
            currentUser: state => state.auth.currentUser
        }),
        availableUsers() {
            const contributors = this.contributors.map(
                contributor => contributor.id
            );
            return this.users.filter(user => !contributors.includes(user.id));
        },
        isOwner() {
            return (
                this.currentUser &&
                this.repository &&
                this.currentUser.id === this.repository.owner_id
            );
        }
    }
};
</script>

<style lang="scss" scoped>
.danger-zone {
    border: 1px solid #f56c6c;

    .danger-zone__item {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}
</style>
