<template>
    <el-row type="flex" justify="center">
        <el-col :span="8">
            <h1 class="error-title">404</h1>
            <p>Такой страницы не существует или вы не имеете к ней доступа</p>
            <router-link to="/" v-slot="{ navigate }">
                <el-link type="primary" @click="navigate">
                    Перейти на домашнюю страницу
                </el-link>
            </router-link>
        </el-col>
    </el-row>
</template>

<script>
export default {
    name: "NotFoundPage"
};
</script>

<style lang="scss" scoped>
.error-title {
    font-size: 64px;
}
</style>
