<template>
    <el-row type="flex" justify="center">
        <el-col :span="8">
            <h1>Изменение пароля</h1>
            <el-form :model="form" :rules="rules" ref="form">
                <el-form-item label="Текущий пароль" prop="currentPassword">
                    <el-input
                        type="password"
                        placeholder="Текущий пароль"
                        v-model="form.currentPassword"
                    ></el-input>
                </el-form-item>

                <el-form-item label="Новый пароль" prop="newPassword">
                    <el-input
                        placeholder="Новый пароль"
                        type="password"
                        v-model="form.newPassword"
                    ></el-input>
                </el-form-item>

                <el-form-item
                    label="Повторите новый пароль"
                    prop="newPasswordRepeat"
                >
                    <el-input
                        placeholder="Повторите новый пароль"
                        type="password"
                        v-model="form.newPasswordRepeat"
                    ></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="success" @click="onSubmit">
                        Сохранить изменения
                    </el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</template>

<script>
import axios from "axios";
import { PATCH_USER_ACTION } from "../../store/auth";
import { mapState } from "vuex";

export default {
    name: "ChangePasswordPage",
    data() {
        const validatePass = (rule, value, callback) => {
            if (this.form.newPasswordRepeat !== "") {
                this.$refs.form.validateField("newPasswordRepeat");
            }
            callback();
        };
        const validatePass2 = (rule, value, callback) => {
            if (value !== this.form.newPassword) {
                callback(new Error("Пароли не совпадают"));
            } else {
                callback();
            }
        };
        return {
            form: {
                currentPassword: "",
                newPassword: "",
                newPasswordRepeat: ""
            },
            rules: {
                currentPassword: [
                    {
                        required: true,
                        message: "Обязательное поле",
                        trigger: "blur"
                    },
                    {
                        validator: (rule, value, callback) =>
                            this.makeValidationRequest(value, callback),
                        trigger: "blur"
                    }
                ],
                newPassword: [
                    {
                        required: true,
                        message: "Обязательное поле",
                        trigger: "blur"
                    },
                    {
                        min: 6,
                        message: "Длина должна быть от 6 символов",
                        trigger: "blur"
                    },
                    { validator: validatePass, trigger: "blur" }
                ],
                newPasswordRepeat: [
                    {
                        required: true,
                        message: "Обязательное поле",
                        trigger: "blur"
                    },
                    {
                        min: 6,
                        message: "Длина должна быть от 6 символов",
                        trigger: "blur"
                    },
                    { validator: validatePass2, trigger: "blur" }
                ]
            }
        };
    },
    methods: {
        onSubmit() {
            this.$refs.form.validate(valid => {
                if (valid) {
                    this.makeRequest();
                } else {
                    return false;
                }
            });
        },
        async makeRequest() {
            await this.$store.dispatch(PATCH_USER_ACTION, {
                userId: this.currentUser.id,
                patchData: { password: this.form.newPassword }
            });
            await this.$router.push({ name: "user_page" });
        },
        async makeValidationRequest(value, callback) {
            const response = await axios.post("/api/validate_password", {
                password: value
            });

            if (response.data.valid) {
                callback();
            } else {
                callback(new Error("Неверный пароль"));
            }
        }
    },
    computed: {
        ...mapState({
            currentUser: state => state.auth.currentUser
        })
    }
};
</script>
