<template>
    <el-row type="flex" justify="center">
        <el-col :span="8">
            <h1>Редактирование профиля {{ username }}</h1>
            <el-form :model="userForm" :rules="userFormRules" ref="form">
                <el-form-item label="Полное имя" prop="fullName">
                    <el-input
                        placeholder="Полное имя"
                        v-model="userForm.fullName"
                    ></el-input>
                </el-form-item>

                <el-form-item label="Электронная почта" prop="email">
                    <el-input
                        placeholder="Электронная почта"
                        type="email"
                        v-model="userForm.email"
                    ></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="success" @click="onSubmit">
                        Сохранить изменения
                    </el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</template>

<script>
import { FETCH_USER_ACTION, PATCH_USER_ACTION } from "../../store/auth";
import { FETCH_REPOS_FOR_USER } from "../../store/repository";
import axios from "axios";
import { mapState } from "vuex";

export default {
    name: "EditUser",
    computed: {
        username() {
            return this.user?.username;
        },
        ...mapState({
            currentUser: state => state.auth.currentUser
        })
    },
    data() {
        return {
            userForm: {
                fullName: "",
                email: ""
            },
            userFormRules: {
                email: [
                    {
                        required: true,
                        message: "Обязательное поле",
                        trigger: "blur"
                    },
                    {
                        type: "email",
                        message: "Неверный формат",
                        trigger: "blur"
                    },
                    {
                        validator: (rule, value, callback) =>
                            this.makeValidationRequest(value, callback),
                        trigger: "blur"
                    }
                ]
            },
            user: null
        };
    },
    methods: {
        onSubmit() {
            this.$refs.form.validate(valid => {
                if (valid) {
                    this.makeRequest();
                } else {
                    return false;
                }
            });
        },
        async makeRequest() {
            const patchData = {
                full_name: this.userForm.fullName,
                email: this.userForm.email
            };
            await this.$store.dispatch(PATCH_USER_ACTION, {
                userId: this.user.id,
                patchData
            });
            await this.$router.push({ name: "user_page" });
        },
        async makeValidationRequest(value, callback) {
            const response = await axios.post("/api/email_availability", {
                email: value
            });

            if (response.data.available) {
                callback();
            } else {
                callback(new Error("Данный электронный адрес уже занят"));
            }
        }
    },
    async created() {
        const usernameParam = this.$route.params.username;
        this.user = await this.$store.dispatch(
            FETCH_USER_ACTION,
            usernameParam
        );

        if (this.user.id !== this.currentUser.id) {
            await this.$router.push({ name: "not_found" });
            return;
        }

        this.userForm.fullName = this.user.full_name;
        this.userForm.email = this.user.email;

        await this.$store.dispatch(FETCH_REPOS_FOR_USER, this.user.id);
    }
};
</script>
