<template>
    <el-row type="flex" justify="center">
        <el-col :span="8">
            <el-row type="flex" align="middle" justify="space-between">
                <div class="user-info">
                    <h1 class="user-info__title">Профиль {{ username }}</h1>
                    <p
                        v-if="user && user.full_name"
                        class="user-info__full-name"
                    >
                        {{ user.full_name }}
                    </p>
                </div>

                <el-dropdown
                    v-if="isCurrentUser"
                    split-button
                    trigger="click"
                    @click="navigateToEdit"
                >
                    Изменить профиль
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            <router-link
                                :to="{ name: 'change_password' }"
                                v-slot="{ navigate }"
                            >
                                <el-link :underline="false" @click="navigate">
                                    Изменение пароля
                                </el-link>
                            </router-link>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-row>

            <el-divider></el-divider>

            <repository-list :repositories="userRepos"></repository-list>
        </el-col>
    </el-row>
</template>

<script>
import { mapState } from "vuex";
import { FETCH_USER_ACTION } from "../../store/auth";
import { FETCH_REPOS_FOR_USER } from "../../store/repository";
import RepositoryList from "../../components/shared/RepositoryList";

export default {
    name: "UserPage",
    components: {
        RepositoryList
    },
    data() {
        return {
            user: null
        };
    },
    methods: {
        navigateToEdit() {
            this.$router.push({ name: "edit_user" });
        },
        navigateToChangePass() {
            this.$router.push({ name: "change_password" });
        }
    },
    async created() {
        const usernameParam = this.$route.params.username;
        this.user = await this.$store.dispatch(
            FETCH_USER_ACTION,
            usernameParam
        );

        await this.$store.dispatch(FETCH_REPOS_FOR_USER, this.user.id);
    },
    computed: {
        ...mapState({
            currentUser: state => state.auth.currentUser,
            userRepos: state => state.repositoryState.userRepos
        }),
        username() {
            return this.user?.username;
        },
        isCurrentUser() {
            return this.user?.id === this.currentUser?.id;
        }
    }
};
</script>

<style lang="scss" scoped>
.user-info {
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 4px;

    .user-info__title {
        margin: 0;
    }

    .user-info__full-name {
        margin: 0;
    }
}
</style>
