<template>
    <el-row type="flex" justify="center">
        <el-col :span="12">
            <h1>Глобальный поиск по задачам</h1>
            <section class="container">
                <issue-list class="issue-list" :issues="issues"></issue-list>
                <div class="settings-box">
                    <h3>Параметры</h3>
                    <el-form :model="form">
                        <el-form-item label="Репозиторий" prop="repoId">
                            <el-select
                                v-model="form.repoId"
                                clearable
                                filterable
                            >
                                <el-option
                                    v-for="repo in repositories"
                                    :key="repo.id"
                                    :label="getRepoName(repo)"
                                    :value="repo.id"
                                ></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="Ответственный" prop="assigneeId">
                            <el-select
                                v-model="form.assigneeId"
                                clearable
                                filterable
                            >
                                <el-option
                                    v-for="item in users"
                                    :key="item.id"
                                    :label="item.username"
                                    :value="item.id"
                                ></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item
                            label="Автор"
                            prop="ownerId"
                            :show-message="false"
                        >
                            <el-select
                                v-model="form.ownerId"
                                clearable
                                filterable
                            >
                                <el-option
                                    v-for="item in users"
                                    :key="item.id"
                                    :label="item.username"
                                    :value="item.id"
                                ></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="Состояние" prop="state">
                            <el-select v-model="form.state">
                                <el-option
                                    label="Любое"
                                    :value="null"
                                ></el-option>
                                <el-option
                                    label="Открыта"
                                    :value="false"
                                ></el-option>
                                <el-option
                                    label="Закрыта"
                                    :value="true"
                                ></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">
                                Применить
                            </el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </section>
        </el-col>
    </el-row>
</template>

<script>
import axios from "axios";
import IssueList from "../components/shared/IssueList";

export default {
    name: "GlobalIssueSearchPage",
    components: {
        IssueList
    },
    data() {
        return {
            form: {
                repoId: null,
                assigneeId: null,
                ownerId: null,
                state: null
            },
            repositories: [],
            users: [],
            issues: []
        };
    },
    methods: {
        async getRepos() {
            const response = await axios.get("/api/repositories");
            this.repositories = response.data.repos;
        },
        async getUsers() {
            const response = await axios.get("/api/users");
            this.users = response.data.users;
        },
        async onSubmit() {
            const data = this.getData();
            const response = await axios.post("/api/issues_search", data);
            this.issues = response.data.issues;
        },
        getData() {
            return {
                assignee_id:
                    typeof this.form.assigneeId === "string"
                        ? null
                        : this.form.assigneeId,
                repo_id:
                    typeof this.form.repoId === "string"
                        ? null
                        : this.form.repoId,
                owner_id:
                    typeof this.form.ownerId === "string"
                        ? null
                        : this.form.ownerId,
                is_closed: this.form.state
            };
        },
        getRepoName(repo) {
            return `${repo.owner.username}/${repo.name}`;
        }
    },
    created() {
        this.getRepos();
        this.getUsers();
    }
};
</script>

<style lang="scss" scoped>
.container {
    column-gap: 16px;
    display: grid;
    grid-template-columns: 1fr 200px;
}

.issue-list {
    flex-grow: 1;
}

.settings-box {
    flex-grow: 0;
}
</style>
