<template>
    <el-container>
        <el-header class="menu-header">
            <horizontal-menu></horizontal-menu>
        </el-header>

        <el-main>
            <router-view></router-view>
        </el-main>
    </el-container>
</template>

<script>
import HorizontalMenu from "../components/HorizontalMenu";

export default {
    name: "Home",
    components: {
        HorizontalMenu
    }
};
</script>

<style lang="scss" scoped>
.menu-header {
    padding: 0;
}
</style>
