<template>
    <el-row type="flex" justify="center">
        <el-col :span="8">
            <repository-list :repositories="repositories"></repository-list>
        </el-col>
    </el-row>
</template>

<script>
import axios from "axios";
import { getDistanceToNow } from "../date-utils";
import RepositoryList from "../components/shared/RepositoryList";

export default {
    name: "HomeView",
    components: {
        RepositoryList
    },
    data: function() {
        return {
            repositories: []
        };
    },
    methods: {
        getRepositories: async function() {
            const response = await axios.get(
                "/api/repositories?current_user=1"
            );
            this.repositories = response.data.repos;
        },
        getUpdatedDate: function(repo) {
            return getDistanceToNow(repo.updated_at);
        }
    },
    created() {
        this.getRepositories();
    }
};
</script>
