<template>
    <form-container title="Вход в систему">
        <div class="form__field">
            <el-input
                @input="onInputValueChange"
                placeholder="Имя пользователя"
                v-model="username"
            ></el-input>
        </div>

        <div class="form__field">
            <el-input
                @input="onInputValueChange"
                placeholder="Пароль"
                type="password"
                v-model="password"
            ></el-input>
        </div>
        <el-row
            align="center"
            class="form__field"
            justify="space-between"
            type="flex"
        >
            <el-button :loading="isLoading" @click="onSubmit()" type="primary">
                Войти
            </el-button>

            <router-link to="/signup">
                <el-button plain type="primary">
                    Регистрация
                </el-button>
            </router-link>
        </el-row>

        <transition name="el-fade-in">
            <el-alert
                :closable="false"
                show-icon
                title="Неверные имя пользователя или пароль"
                type="error"
                v-if="invalidCredentials"
            ></el-alert>
        </transition>
    </form-container>
</template>

<script>
import FormContainer from "../components/FormContainer";
import { LOGIN_ACTION } from "../store/auth";

export default {
    name: "Login",
    components: {
        FormContainer
    },
    data: function() {
        return {
            username: "",
            password: "",
            isLoading: false,
            invalidCredentials: false
        };
    },
    methods: {
        onInputValueChange: function() {
            if (this.invalidCredentials) {
                this.invalidCredentials = false;
            }
        },
        onSubmit: async function() {
            this.isLoading = true;
            try {
                await this.$store.dispatch(LOGIN_ACTION, {
                    username: this.username,
                    password: this.password
                });
                await this.$router.push("/");
            } catch (error) {
                if (error.response.status === 401) {
                    this.invalidCredentials = true;
                } else {
                    this.$message.error("Неизвестная ошибка");
                }
            } finally {
                this.isLoading = false;
            }
        }
    }
};
</script>
