<template>
    <el-row justify="center" type="flex">
        <el-col :span="8">
            <h2>Создание нового репозитория</h2>
            <el-form :model="form" :rules="rules" ref="form">
                <el-form-item label="Название репозитория" prop="name">
                    <el-input
                        placeholder="Название репозитория"
                        v-model="form.name"
                    ></el-input>
                </el-form-item>

                <el-form-item label="Описание" prop="description">
                    <el-input
                        placeholder="Описание"
                        v-model="form.description"
                    ></el-input>
                </el-form-item>

                <el-form-item label="Приватный репозиторий" prop="isPrivate">
                    <el-checkbox v-model="form.isPrivate"></el-checkbox>
                </el-form-item>

                <el-form-item>
                    <el-button
                        :loading="isLoading"
                        @click="onSubmit()"
                        type="primary"
                    >
                        Создать
                    </el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</template>

<script>
import axios from "axios";

export default {
    name: "NewRepository",
    data: function() {
        return {
            form: {
                name: "",
                description: "",
                isPrivate: false
            },
            rules: {
                name: [
                    {
                        max: 50,
                        message: "Длина строки должна быть до 50 символов",
                        trigger: "blur"
                    },
                    {
                        required: true,
                        message: "Обязательное поле",
                        trigger: "blur"
                    },
                    {
                        validator: (rule, value, callback) =>
                            this.makeValidationRequest(value, callback),
                        trigger: "blur"
                    }
                ],
                description: {
                    max: 150,
                    message: "Длина строки должна быть до 150 символов",
                    trigger: "blur"
                }
            },
            isLoading: false
        };
    },
    methods: {
        async onSubmit() {
            try {
                await axios.post("/api/repositories", {
                    name: this.form.name,
                    description: this.form.description,
                    is_private: this.form.isPrivate
                });
                await this.$router.push("/");
            } catch (error) {
                this.$notify.error("Неизвестная ошибка");
            }
        },
        async makeValidationRequest(value, callback) {
            try {
                const response = await axios.post(
                    "/api/repositories/validate",
                    {
                        name: value
                    }
                );
                if (response.data.valid) {
                    callback();
                } else {
                    callback(
                        new Error(
                            "Данное имя уже используется для текущего пользователя"
                        )
                    );
                }
            } catch (error) {
                callback();
            }
        }
    }
};
</script>

<style scoped></style>
