<template>
    <el-row type="flex" justify="center">
        <transition name="el-fade-in">
            <el-col v-if="repository" :span="12">
                <el-row type="flex" justify="space-between" align="middle">
                    <el-row type="flex" align="middle">
                        <router-link :to="`/${username}`" v-slot="{ navigate }">
                            <el-link
                                class="repo-links"
                                type="primary"
                                :underline="false"
                                @click="navigate"
                            >
                                {{ username }}
                            </el-link>
                        </router-link>
                        <span class="repo-links">/</span>
                        <router-link
                            :to="`/${username}/${repository.name}`"
                            v-slot="{ navigate }"
                        >
                            <el-link
                                class="repo-links"
                                type="primary"
                                :underline="false"
                                @click="navigate"
                            >
                                {{ repository.name }}
                            </el-link>
                        </router-link>

                        <el-tag
                            v-if="repository.is_private"
                            class="private-badge"
                            size="mini"
                        >
                            Приватный
                        </el-tag>
                    </el-row>
                </el-row>

                <el-tabs
                    class="tabs"
                    v-model="activeTab"
                    @tab-click="handleTabClick"
                >
                    <el-tab-pane label="Задачи" name="issues">
                        <span slot="label">
                            Задачи
                            <el-tag size="mini">
                                {{ repository.num_issues }}
                            </el-tag>
                        </span>
                    </el-tab-pane>
                    <el-tab-pane
                        v-if="hasAccess"
                        label="Настройки"
                        name="settings"
                    ></el-tab-pane>
                </el-tabs>

                <router-view></router-view>
            </el-col>
        </transition>
    </el-row>
</template>

<script>
import { mapState } from "vuex";
import {
    FETCH_REPOSITORY_ACTION,
    TOGGLE_WATCH_ACTION
} from "../store/repository";

export default {
    name: "Repository",
    data: function() {
        return {
            isLoading: false,
            username: "",
            activeTab: ""
        };
    },
    methods: {
        getActiveTab: function() {
            if (this.$route.name === "repo_settings") {
                return "settings";
            } else {
                return "issues";
            }
        },
        handleTabClick(tab) {
            const tabName = tab.$options.propsData.name;

            if (tabName === "issues") {
                this.$router
                    .push({
                        name: "repo_issues",
                        params: { ...this.$route.params }
                    })
                    .catch(() => {});
            } else if (tabName === "settings") {
                this.$router.push({
                    name: "repo_settings",
                    params: { ...this.$route.params }
                });
            } else {
                this.$router
                    .push({
                        name: "repository",
                        params: { ...this.$route.params }
                    })
                    .catch(() => {});
            }
        },
        onWatchClick() {
            this.$store.dispatch(TOGGLE_WATCH_ACTION, this.repository.id);
        }
    },
    created() {
        this.activeTab = this.getActiveTab();
        this.username = this.$route.params.username;
        this.$store.dispatch(FETCH_REPOSITORY_ACTION, {
            username: this.$route.params.username,
            repoName: this.$route.params.repo_name
        });
    },
    computed: {
        ...mapState({
            repository: state => state.repositoryState.repository,
            hasAccess: function(state) {
                const currentUser = state.auth.currentUser;
                return currentUser.accessible_repos?.includes(
                    this.repository.id
                );
            }
        })
    }
};
</script>

<style scoped lang="scss">
.header__buttons {
    .btn-group + .btn-group {
        margin-left: 8px;
    }
}

.repo-links {
    font-size: 18px;
}

span.repo-links {
    margin: 0 4px;
}

.tabs {
    margin-top: 16px;
}

.private-badge {
    margin-left: 8px;
    transform: translateY(2px);
}
</style>
