<template>
    <form-container title="Регистрация в системе">
        <el-form :model="form" :rules="formRules" ref="form">
            <el-form-item label="Имя пользователя" prop="username">
                <el-input
                    placeholder="Имя пользователя"
                    v-model="form.username"
                ></el-input>
            </el-form-item>

            <el-form-item label="Электронная почта" prop="email">
                <el-input
                    placeholder="Электронная почта"
                    type="email"
                    v-model="form.email"
                ></el-input>
            </el-form-item>

            <el-form-item label="Пароль" prop="password">
                <el-input
                    placeholder="Пароль"
                    type="password"
                    v-model="form.password"
                ></el-input>
            </el-form-item>

            <el-form-item label="Повторение пароля" prop="repeatPassword">
                <el-input
                    placeholder="Повторение пароля"
                    type="password"
                    v-model="form.repeatPassword"
                ></el-input>
            </el-form-item>

            <el-form-item>
                <el-row justify="space-between" type="flex">
                    <el-button
                        :loading="isLoading"
                        @click="onSubmit()"
                        type="primary"
                    >
                        Зарегистрироваться
                    </el-button>

                    <router-link to="/login">
                        <el-button plain type="primary">
                            Войти
                        </el-button>
                    </router-link>
                </el-row>
            </el-form-item>
        </el-form>
    </form-container>
</template>

<script>
import FormContainer from "../components/FormContainer";
import axios from "axios";

export default {
    name: "Signup",
    components: {
        FormContainer
    },
    data: function() {
        const validatePass = (rule, value, callback) => {
            if (this.form.repeatPassword !== "") {
                this.$refs.form.validateField("repeatPassword");
            }
            callback();
        };
        const validatePass2 = (rule, value, callback) => {
            if (value !== this.form.password) {
                callback(new Error("Пароли не совпадают"));
            } else {
                callback();
            }
        };

        return {
            username: "",
            email: "",
            password: "",
            repeatPassword: "",
            isLoading: false,
            nonMatchingPasswords: false,

            form: {
                username: "",
                email: "",
                password: "",
                repeatPassword: ""
            },
            formRules: {
                username: [
                    {
                        required: true,
                        message: "Обязательное поле",
                        trigger: "blur"
                    },
                    {
                        min: 5,
                        max: 25,
                        message: "Длина должна быть от 5 до 25 символов",
                        trigger: "blur"
                    }
                ],
                email: [
                    {
                        required: true,
                        message: "Обязательное поле",
                        trigger: "blur"
                    },
                    {
                        type: "email",
                        message: "Неверный формат",
                        trigger: "blur"
                    }
                ],
                password: [
                    {
                        required: true,
                        message: "Обязательное поле",
                        trigger: "blur"
                    },
                    {
                        min: 6,
                        message: "Длина должна быть от 6 символов",
                        trigger: "blur"
                    },
                    { validator: validatePass, trigger: "blur" }
                ],
                repeatPassword: [
                    {
                        required: true,
                        message: "Обязательное поле",
                        trigger: "blur"
                    },
                    {
                        min: 6,
                        message: "Длина должна быть от 6 символов",
                        trigger: "blur"
                    },
                    { validator: validatePass2, trigger: "blur" }
                ]
            }
        };
    },
    methods: {
        onSubmit: function() {
            this.$refs.form.validate(valid => {
                if (valid) {
                    this.makeRequest();
                } else {
                    return false;
                }
            });
        },
        makeRequest: async function() {
            this.isLoading = true;
            try {
                await axios.post("/api/signup", {
                    username: this.form.username,
                    email: this.form.email,
                    password: this.form.password
                });
                await this.$router.push("home");
            } catch (error) {
                if (error.response.status === 401) {
                    this.invalidCredentials = true;
                } else {
                    this.$message.error("Неизвестная ошибка");
                }
            } finally {
                this.isLoading = false;
            }
        }
    }
};
</script>

<style lang="scss" scoped>
@import "src/assets/styles/variables";

.el-input__invalid input {
    border-color: $danger-color;
}
</style>
