.list__container {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.list__item {
    border-bottom: 1px solid #d1d5da;
    padding: 16px;

    &:last-of-type {
        border-bottom: none;
    }
}

.list__empty {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 64px;

    .text {
        display: flex;
        justify-content: center;
    }
}
